<div class="container">
  <h1>Perfil de Usuario</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nombre de usuario:</label>
        <input type="text" class="form-control" value="{{Username}}" readonly>
      </div>
      <div class="form-group">
        <label>Nombre:</label>
        <input type="text" class="form-control" value="{{Name}}" readonly>
      </div>
      <div class="form-group">
        <label>Prefijo del teléfono:</label>
        <input type="text" class="form-control" value="{{prefij}}" readonly>
      </div>
    </div>
    
   
  </div>
</div>